<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah"
      rel="stylesheet"
    />
    <title>MODAL</title>
  </head>
  <body>
    <section>
      <h2>naber ya</h2>
      <div class="modal">
        <h1>It's a Match!</h1>
        <p>You and her liked each other</p>
        <div class="imageholder">
          <img />
          <img />
        </div>
        <h3>Send Message</h3>
        <h3>Keep Swiping</h3>
      </div>
    </section>
  </body>
</html>
